[submodule "3rdparty/tokenizers-wasm"]
	path = 3rdparty/tokenizers-wasm
	url = https://github.com/mithril-security/tokenizers-wasm
[submodule "tinygrad"]
	path = tinygrad
	url = https://github.com/tinygrad/tinygrad
